/* colors */
:root {
  --color-1: #1e1f24;
  --color-2: #ff5964;
  --color-3: #ea9010;
  --color-4: #c1df1f;
  --color-5: #048ba8;
  --color-6: #26262c;
  --color-7: #131316;
}

/*police*/
:root {
  --pol-monserat: "Overpass", sans-serif;
  --pol-pomme: "Caveat", cursive;
}
